<h1>What are the captions of these photos?</h1>
<h2>You're Entitled to your own opinion.</h2>
<h3>top</h3><%= render 'images_list', images_list: @top_images %>
<h3>new</h3><%= render 'images_list', images_list: @new_images %>
<h3>hot</h3><%= render 'images_list', images_list: @hot_images %>